<!DOCTYPE html>
<html>
<head>
  <title>Tutorial</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="nav">
  <% if current_user %>
      <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
      <%= link_to "Logout", :logout, method: :post %>
  <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", :login %> |
      <%= link_to 'Login with Linkedin', auth_at_provider_path(:provider => :linkedin) %>
  <% end %>
</div>
<div>
  <p id="notice"><%= flash[:notice] %></p>
  <p id="alert"><%= flash[:alert] %></p>
</div>
<%= yield %>

</body>
</html>